### EDA Refractarios ##

In [2]:
import pandas as pd

In [3]:
df0=pd.read_csv('prod_2324.csv')
df0.head()

         date  material     colada    prod
0  2023-01-01    303661  B00011186  126.90
1  2023-01-01    303661  B00011187  126.90
2  2023-01-01    303661  B00011188  135.36
3  2023-01-01    303661  B00011189  132.54
4  2023-01-01    303661  B00011190  132.54

In [6]:
df0.shape

(15762, 4)